-

	let products = [
		{
			url: 'index.html', 
			img: 'item1', 
			mod: 'product__item--small', 
			subUrl: [{link: 'DISCONNECT'}]
		},
		{
			url: 'index2.html',img: 'item2',mod: 'product__item--small', 
			subUrl: [{link: 'MIT'}]
		},
		{
			url: 'index3.html', 
			img: 'item3', 
			mod: 'product__item--small', 
			subUrl: [{link: 'FABRK'}]
		},
		{
			url: 'index4.html', 
			img: 'banner2', 
			mod: 'product__item--big', 
			video:true, videoLink: 'https://youtube.com', 

			subUrl: [{link: 'PAYPAL'},{link: 'EDITORIAL + MOTION'}],
			prodNotes: [{link: 'Your nimble team is waiting!'}, {link: '339.229.0066'}]
		},
		{
		url: 'index5.html', 
		img: 'item4', 
		mod: 'product__item--midlle',
		},
		{
		url: 'index6.html', 
		img: 'item5', 
		mod: 'product__item--small', 
		subUrl: [{link: 'HOE'},{link: 'AUDIOGRAMS'}]
		},
		{
		url: 'index7.html', 
		img: 'item6', 
		mod: 'product__item--small'
		},
		{
		url: 'index8.html', 
		img: 'item7', 
		mod: 'product__item--midlle', 
		subUrl: [{link: 'F1ZZ'},{link: 'BRANDING + ANIMATION'}]
		}
	];

section.section.product
	.container.product__container
		ul.product__items
			each item in products
				- mod = item.mod || ''
				li(class=`product__item ${mod}`)
					+card(item)
					if item.prodNotes
						.card_notes
								each prodNote in item.prodNotes
									a(class=`card_notes__link`)= prodNote.link
					if (item.video == true)
						.play_video
								a(href=item.videoLink target="_blank")
									+icon('play', 'icon_play_mod')
					if item.subUrl
						ul(class=`art__list ${mod}`)
							each subItem in item.subUrl
								li.art__item
									a(href=item.url).art__link= subItem.link